/*Sydney specific CSS*/
.sydney {
    width: 100%;
    background-image: url(images/bg/Sydney1.webp);
    background-repeat: no-repeat;
    background-size:cover;
}

/*Outback specific CSS*/
.outback {
    width: 100%;
    background-image: url(images/bg/outback\ 2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

/*Great Barrier Reef specific CSS*/
.gbr {
    width: 100%;
    background-image: url(images/bg/GreatBarrierReef.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.text {
    height: 50%;
    width: 40%;
    padding: 4%;
    margin: 2%;
    margin-top: 15%;
    background-color: antiquewhite;
    opacity: 60%;
    overflow: hidden;
    clip-path: polygon(
        0 10%,
        10% 0,
        90% 0,
        100% 10%,
        100% 90%,
        90% 100%,
        10% 100%,
        0% 90%,
        0% 10%
    )
}