/*Sydney specific CSS*/
.sydney {
    width: 100%;
    background-image: url(images/bg/Sydney1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Outback specific CSS*/
.outback {
    width: 100%;
    background-image: url(images/bg/outback\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Great Barrier Reef specific CSS*/
.gbr {
    width: 100%;
    background-image: url(images/bg/GreatBarrierReef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    padding: 10%;
}

.headline:active .textBox{
    display: block;
}

/* lag så tekstboksen er hidden. vises når det clikkes på en overskrift*/
.textBox { 
    display: none;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right:25%;
    margin-top: 15%;
    background-color: antiquewhite;
    opacity: 60%;
    border-radius: 10px;
}

.text {
    padding: 5%;
}
