body {
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-size: x-large;
  background: url(images/bak\ 2.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
/* fishes */
#nemo {
  position: absolute;
  bottom: 15%;
  right: 1%;
  width: 10%;
  animation: swimmingNemo;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;

  opacity: 0;
}

@keyframes swimmingNemo {
  0% {
    opacity: 1;
    right: -15%;
    bottom: 15%;
  }

  10% {
    bottom: 20%;
  }
  30% {
    bottom: 15%;
  }
  100% {
    right: 115%;
    opacity: 1;
    bottom: 30%;
  }
}
/* div animation and pictures */

#diver {
  position: absolute;
  left: 30%;
  top: 10%;
  width: 20%;
  height: 15%;
  animation: swimmingDiver;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes swimmingDiver {
  10% {
    top: 10%;
  }
  50% {
    top: 13%;
  }
  100% {
    top: 10%;
  }
}

#reef {
  position: absolute;
  left: 0%;
  bottom: -10%;
  width: 35%;
  height: 60%;
  filter: brightness(80%);
}

#seaUrchin {
  position: absolute;
  width: 7%;
  height: 7%;
  right: 1%;
  bottom: 30%;
  filter: brightness(180%);
}

.headline {
  position: absolute;
  width: 30%;
  height: 10%;
  animation: headlinecolor;
  transition: all;
  animation-duration: 3s;
  animation-delay: 1s;
}

.headline:hover {
  scale: 1;
}

@keyframes headlinecolor {
}
