/*Sydney specific CSS*/
.sydney {
  width: 100%;
  background-image: url(images2/bg/Sydney1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

/*BGs are still not fully adaptive. check Aksels kode fra barrier reef for reference.*/

/*Outback specific CSS*/
.outback {
  width: 100%;
  background-image: url(images2/bg/outback\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Great Barrier Reef specific CSS*/
.gbr {
  width: 100%;
  background-image: url(images2/bg/GreatBarrierReef.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.textBox {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-20%);
  transform: translateX(-50%) translateY(-20%);
  background-color: antiquewhite;
  opacity: 65%;
  border-radius: 10px;
}

.text {
  padding: 5%;
}
